SUPABASE_URL=https://XXXXXXXXXX.supabase.co
SUPABASE_ANON_KEY=eyJXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SUPABASE_SERVICE_KEY=eyJXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SUPABASE_PROJECT_REF=XXXXXXXXXX
SUPABASE_ACCESS_TOKEN=sbp_XXXXXXXXXX
